body {
  font-family: Raleway, sans-serif;
  text-align: center;
  background-color: aqua;
}

table {
  border: 1px solid black;
  text-align: center;
  font-size: 25px;
  margin: auto;
}

.teamCol {
  text-align: left;
  min-width: 300px;
  border: 1px solid black;
  font-size: 20px;
}

td {
  min-width: 40px;
}

.scoreInput {
  display: inline-block;
}

.bordered {
  border: 1px solid black;
}

#knockout td {
  min-width: 150px;
  min-height: 50px;
}

#knockout {
  font-size: 20px;
  background-color: rgb(186, 186, 186);
}

.resetButton {
  color: red;
}
