body {
  font-family: Raleway, sans-serif;
}

table {
  border: 1px solid black;
  text-align: center;
}

.teamCol {
  text-align: left;
  min-width: 100px;
}

td {
  min-width: 40px;
}

.scoreInput {
  display: inline-block;
}
